<div>
    <button (click)="drawRandomCharacter()" [disabled]="buttonDisabled">
      Tirer une carte
    </button>
    <p *ngIf="buttonDisabled">Temps restant : {{ countdown | date:'HH:mm:ss':'UTC' }}</p>
    <div *ngIf="selectedCharacter" class="character-card">
      <h2>{{ selectedCharacter.name }}</h2>
      <img [src]="selectedCharacter.image" alt="{{ selectedCharacter.name }}">
      <p>Status: {{ selectedCharacter.status }}</p>
      <p>Species: {{ selectedCharacter.species }}</p>
      <p>Gender: {{ selectedCharacter.gender }}</p>
      <p>Character ID: {{ selectedCharacter.id }}</p>
    </div>
  </div>  