<div>
  <button data-test-id="button_to_click" (click)="drawRandomCharacter()" [disabled]="buttonDisabled">
    Tirer une carte
  </button>
  <p *ngIf="buttonDisabled">Temps restant : {{ countdown | countdown }}</p>
  <div *ngIf="selectedCharacter" class="character-card">
    <h2>{{ selectedCharacter.name }}</h2>
    <img [src]="selectedCharacter.image" alt="{{ selectedCharacter.name }}">
    <p>Status: {{ selectedCharacter.status }}</p>
    <p>Species: {{ selectedCharacter.species }}</p>
    <p>Gender: {{ selectedCharacter.gender }}</p>
    <p>Character ID: {{ selectedCharacter.id }}</p>
  </div>
  <div *ngIf="drawnCharacters.length > 0" class="drawn-characters">
    <h3>Cartes tirées :</h3>
    <div *ngFor="let character of drawnCharacters" class="character-card">
      <h4>{{ character.name }}</h4>
      <img [src]="character.image" alt="{{ character.name }}">
    </div>
  </div>
</div>
